/config.mk
/docs/*.html
/docs/*.info
/docs/*.pdf
/docs/*.texi
/docs/dir
/docs/stats/
/lisp/*-autoloads.el
/lisp/*.elc

/docs/tla+/
/docs/tla+-section/
/lisp/tla+-version.el

/docs/*.epub
/docs/META-INF/
/docs/OEBPS/
/docs/epub.xml
/docs/mimetype

*~
/*.tar
/*.tar.gz
